
/* This page contains styles for all of the pages */


/* Basic Styling for all pages */

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgb(14, 16, 33);
}
nav {
    background-color: black;
    height: 80px;
    color: gray;
    width: 100%;
    padding: 10px 20px 10px 10px;
    text-align: center;
}

#user-icon {
    float: right;
    width: 60px;
    height: 60px;
    background-image: url('../img/account.png');
    background-size: cover;
    border: none;
}

.toggler {
    width: 50px;
    height: 50px;
    float: left;
    margin-left: 3px;
    margin-top: -5px;
}
.top {
    height: 7px;
    background-color: white;
    width: 100%;
    margin: 12px 7px;
}
.mid {
    height: 7px;
    background-color: white;
    width: 100%;
    margin: 12px 7px;
}
.bot {
    height: 7px;
    background-color: white;
    width: 100%;
    margin: 12px 7px;
}
.toggler:hover {
    cursor: pointer;
}
.toggler:hover .top
{
    background-color: rgb(195, 239, 131);
    
}
.toggler:hover .mid 
{
    background-color: rgb(195, 239, 131);
    
}
.toggler:hover .bot
{
    background-color: rgb(195, 239, 131);
    
}
.navbar {
    height: 83.2%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: rgb(14, 16, 33);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.navbar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.navbar a:hover {
    color: #f1f1f1;
}

.navbar.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
    .navbar {padding-top: 15px;}
    .navbar a {font-size: 18px;}
}

.nav-btn {
    background-color: rgb(195, 239, 131);
    width: 80%;
    height: 90px;
    margin: auto;
    line-height: 90px;
    text-align: center;
}
.nav-btn:hover {
    background-color: white;
    color: black !important;
}
#nav-find {
    margin-bottom: 20px;
    font-size: 15px;
    padding: 0;
}
#nav-message {
    margin-bottom: 20px;
    font-size: 15px;
    padding: 0;
}
#nav-add {
    font-size: 15px;
    padding: 0;
}

/* ------------------------------------ */
/* -------- Home Page Styles ---------- */
/* ------------------------------------ */

.container {
    margin-top: 1% !important;
}
.button {
    width: 450px !important;
    height: 150px !important;
    font-size: 30px  !important;
    line-height: 150px;
    margin: auto;
    background-color: rgb(195, 239, 131) !important;
    display: block;
}
#findbtn {
    margin-bottom: 1%;
}
.box {
    margin-top: 80px;
    padding: 20px;
    width: 100%;
    height: 250px;
}
.box1 {
    width: 50%;
    height: 100%;
    float: left;
    padding: 20px;
    text-align: center;
    color: white;
}
.box2 {
    width: 50%;
    height: 100%;
    float: right;
    padding: 20px;
    color: white;
    text-align: center;  
}
.img1, .img2 {
    height: 171px;
    width: 171px;
    float: left;
    background-image: url('../img/cross.png');
    background-size: cover;
}
/* .img2 {
    height: 171px;
    width: 171px;
    float: left;
    background-image: url('../img/cross.png');
    background-size: cover;
} */
.text-right {
    padding-top: 60px;
}
.img-text {
    height: 100%;
}
footer {
    background-color: black;
    color: white;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    padding: 20px;
    height: 80px;
    text-align: center;
}
.left-title {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}

/* ------------------------------------ */
/* --------- Map Page Styles ---------- */
/* ------------------------------------ */

.map-footer {
    margin-top: 0px;
}
.title {
    margin-top: 10px;
}
.map {
    padding: 20px 20px 20px 20px;
    height: 800px;
    width: 45%;
    border: none;
}
.box-content {
    float: right;
    width: 55%;
    padding: 20px 20px 0 20px;
    height: 780px;
    color: white;
}
.status {
    color: red;
}
.profile-pic {
    float: right;
    height: 225px;
    width: 225px;
    background-image: url('../img/profile-pic.jpg');
}
.map-box {
    height: 100px;
    width: 100%;
    margin-top: 332px;
}
.preset-btn {
    width: 23.8%;
    margin-right: 1.5%;
    background-color: rgb(195, 239, 131);
    height: 100%;
    float: left;
    border-radius: 0;
}
#p2 {
    margin-right: 1.5%;
}
#p3 {
    margin-right: 1.5%;
}
#ph {
    float: right;
    margin-right: 0;
}
.phone-img {
    margin: auto;
    height: 80px;
    width: 80px;
    background-image: url('../img/phone-volume.png');
    background-size: cover;
}

/* ---------------------------------------- */
/* --------- Message 1 Page Styles -------- */
/* ---------------------------------------- */

.message-container {
    width: 80%;
    margin: auto;
    height: 570px;
    padding: 10px;
    text-align: center;
}
.message-title {
    color: white;
}
.mess-btn-box-long {
    width: 100%;
    height: 110px;
    margin-bottom: 20px;
    text-align: center;
}
.create-own-mess-box {
    width: 100%;
    height: 70px;
    background-color: rgb(195, 239, 131);
    margin-bottom: 20px;
    border: none;
    border-radius: 0;
}
.button-box-medium {
    width: 40%;
}
.safe-panic-text {
    float: left;
    line-height: 110px;
    left: 0;
    color: white;
}
.textbox {
    height: 100%;
    width: 60%;
    float: right;
    padding-left: 20px;
}
.safe-medium-with-text {

    width: 100%;
    height: 110px;
    margin-bottom: 20px;
}
.not-safe-medium-with-text {

    width: 100%;
    height: 110px;
}
.safe-medium-box {
    width: 40%;
    height: 100%;
    background-color: rgb(4, 255, 4);
    margin-bottom: 20px;
    border: none;
    
}
.note-img {
    width: 60px;
    height: 60px;
    background-image:url('../img/notes.png');
    background-size: cover;
    margin: auto;
}
.button-img {
    width: 80px;
    height: 80px;
    margin: auto;
}
#tick {
    background-image: url('../img/tick.png');
    background-size: cover;
}
#cross2 {
    background-image: url('../img/cross2.png');
    background-size: cover;
}
.not-safe-medium-box {
    width: 40%;
    height: 100%;
    background-color: rgb(255, 0, 0);
    margin-bottom: 20px;
    border: none;
}
.mess-btn1 {
    width: 20%;
    height: 100%;
    background-color: rgb(195, 239, 131);
    float: left;
    font-size: 15px;
    border: none;
    border-radius: 0;
}
.mess-btn2 {
    width: 20%;
    height: 100%;
    background-color: rgb(195, 239, 131);
    float: right;
    font-size: 15px;
    border: none;
    margin-right: 0;
    border-radius: 0;
}
.mess-btn3 {
    width: 20%;
    height: 100%;
    font-size: 15px;
    border: none;
    float: none;
    text-align: center;
    border-radius: 0;
    background-color: rgb(195, 239, 131);
}

/* ---------------------------------------- */
/* --------- Message 2 Page Styles -------- */
/* ---------------------------------------- */

.message-banner {
    width: 100%;
    height: 70px;
    color: black;
    text-align: center;
    padding-top: 15px;
    background-color: rgb(195, 239, 131);
}
.messages-box {
    width: 250px;
    height: 661px;
    color: white;
    float: left;
}
.response-box {
    float: right;
    width: 250px;
    height: 661px;
    color: white;
    position: relative;
}
.messages {
    width: 100%;
    height: 33.3%;
    padding: 0px 0px 0px 10px;
    
}
.message-content {
    width: 100%;
    height: 70%;
    color: black;
    padding: 10px;
}
.messages > h5 {
    margin-bottom: 0;
}
#mess1 {
    background-color: rgb(216, 114, 96);
}
#mess2 {
    background-color: rgb(0, 255, 255);
}
#mess3 {
   background-color: rgb(4, 255, 4);
}

#response-mess-box {
    bottom: 0px;
    position: absolute;
    height: 33.3%;
    padding-right: 10px;
    padding-left: 0;
    width: 100%;
}
#response-message {
    background-color: rgb(154, 186, 242);
    height: 70%;
    width: 100%;
    bottom: 0;
    margin-top: 37px;
    
}
.message-footer {
    height: 150px;
    padding: 0;
}
.text-input-box {
    width: 100%;
    height: 60px;
    background-color: white;
    border: 5px solid rgb(195, 239, 131);
    margin-bottom: 30px;
}
.input-box {
    width: 95%;
    float: left;
    min-height: 100%;
    margin: 0;
    font-size: 25px;
    color: black;
    border-radius: 0;
    background: transparent;
    border: transparent !important;
}
.send {
    width: 5%;
    height: 100%;
    border: none;
    background-image: url('../img/send-btn.png');
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position-x: 40px;
    float: right;
}
::placeholder {
    color: rgb(173, 211, 167);
}

/* -------------------------------------- */
/* ------------ Whanau Page ------------ */
/* -------------------------------------- */

.cross-icon {
    float: right;
    
    margin-right: 20px;
}
.cross-btn {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 80px;
    text-align: center;
    color: white;
    padding: 0;
}
.cross-btn:hover {
    color: rgb(195, 239, 131);
}
.icon {
    width: 60px;
    height: 60px;
    margin-left: 15px;
    margin-top: 10px;
}
.add-icon {
    float: left;
}
.add-icon:hover {
    cursor: pointer;
}
.add-icon:hover .center-column-add
{
    background-color: rgb(195, 239, 131);
    
}
.add-icon:hover .horiz-column-add 
{
    background-color: rgb(195, 239, 131);
    
}
.center-column-add {
    width: 10px;
    height: 100%;
    background-color: white;
    margin: auto;
}
.horiz-column-add {
    width: 100%;
    height: 10px;
    background-color: white;
    margin-top: -35px;
}
.whanau-content {
    margin: auto;
    width: 33.3%;
    height: 800px;
    color: white;
}
.image-box {
    float: left;
    width: 25%;
    height: 100%;
    padding: 10px 10px 10px 10px;
}
.whanau-text-box {
    float: right;
    width: 75%;
    height: 100%;
    padding: 10px 10px 10px 10px;
}
.whanau-image {
    margin: auto;
    width: 100%;
    height: 187.5px;
}
.whanau-text {
    margin: auto;
    width: 100%;
    height: 187.5px;
    padding: 10px;
    padding-top: 40px;
}
.status-whanau {
    color: red;
}
.whanau-profile-1 {
    background-image: url('../img/profile-pic.jpg');
    background-size: cover;
    background-position-x: -20px;
}
.whanau-profile-2 {
    margin-top: 10px;
    background-image: url('../img/zucc.jpg');
    background-size: cover;
    background-position-x: -50px;
}
.whanau-profile-3 {
   margin-top: 10px;
   background-image: url('../img/rachel.jpg');
   background-size: cover;
   background-position-x: -60px;
}
.whanau-profile-4 {
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url('../img/bob.jpg');
    background-size: cover;
    background-position-x: -20px;
}
.whanau-text-2 {
    margin-top: 10px;
}
.whanau-text-3 {
   margin-top: 10px;
}
.whanau-text-4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* ------------------------------------------ */
/* --------------- Login Page --------------- */
/* ------------------------------------------ */

.back-content {
    margin: 40px 60px;
    background-color: black;
    width: 94%;
    padding: 40px 40px;
    height: 720px;
    text-align: center;
    color: white;
}
.inputbox {
    width: 100%;
    min-height: 70px;
    font-size: 25px;
    color: black;
    border-radius: 0;
}
.inputbox::placeholder {
    color: rgb(91, 91, 91);
}

input.inputbox, textarea {
    background: rgb(195, 239, 131);
    border-radius: 0;
}
.submit-button-login {
background-color: rgb(98, 148, 232);
width: 100%;
height: 70px;
font-size: 25px;
color: white;
}

/* ----------------------------------------- */
/* ----------- Add Whanau Member ----------- */
/* ----------------------------------------- */

.img-upload {
    background-color: white !important;
    text-align: center !important;
    padding: 20px 20px;
    line-height: 15px;
}

/* --------------------------------------------------------------------------------------------------- */
/* ---------------------- Media Queries for devices! ------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------- */

/* Laptop media Query */

@media screen and (min-width: 768px) and (max-width: 1440px) {
    .box {
        margin-top: 25px;
    }
    .map {
        height: 560px !important;
    }
    .box-content {
        height: 560px;
    }
    .map-box {
        margin-top: 92px; 
        font-size: 15px;
    }
    .preset1 {
        width: 179px;
    }
    .navbar {
        height: 78%;
    }
    .send {
        background-position-x: 10px;
    }
    .messages-box {
        height: 427px;
    }
    .response-box {
        height: 427px;
    }
    .whanau-content {
        width: 50%;
    }
    .image-box {
        width: 130px;
    }
    .whanau-image {
        height: 120px;
        width: 89px;
    }
    .whanau-text {
        padding-top: 0;
        height: 120px;
    }
    .back-content {
        margin-top: 20px;
        height: 530px;
    }
    .whanau-text-box {
        height: 540px;
    }
    .image-box {
        height: 540px;
    }
    .whanau-content {
        height: 540px;
    }
    .inputbox {
        min-height: 50px !important;
        margin-bottom: 3px;
    }
} 


@media screen and (min-width: 320px) and (max-width: 1024px) {
    .button {
        width: 350px !important;
        font-size: 20px !important;
        height: 100px !important;
        margin-top: 20px;
        line-height: 100px;
    }
    .img1 {
        width: 60px !important;
        height: 60px;
        background-size: cover;
        float: left;
    }
    .box {
        display: block;
        margin-top: 1px;
    }
    .box1 {
        width: 100%;

        height: 100px;
    }
    .box2 {
        width: 100%;
        height: 100px;
    }
    .img-text {
        height: 60px;
        padding: 0 !important;
    }
    .img2 {
        width: 60px !important;
        height: 60px !important;
    }
    .text-right {
        font-size: 20px;
        padding-top: 18px;
        float: left;
        padding-left: 10px;
    }
    .map {
        height: 300px;
        width: 100%;
    }
    .profile-pic {
        height: 80px;
        width: 80px;
        float: right;
        background-size: cover;
    }
    .box-content {
        width: 100%;
        font-size: 9px !important;
        height: 150px;
    }
    h2 {
        font-size: 20px;
    }
    .map-box {
        margin-top: 0;
        margin-bottom: 90px;
        height: 200px
    }
    .preset-btn {
        height: 90px;
        overflow-wrap: normal;
        padding: 0 !important;
        font-size: 11px;
        white-space: normal;
    }
    #ph {
        padding: 0;
    }
    .message-content {
        height: 80px !important;
    }
    .messages-box {
        height: auto;
    }
    #response-mess-box {
        top: 0;
    }
    .response-box {
        height: 280px;
    }
    .input-box {
        width: 82%;
    }
    .send {
        background-position-x: 8px;
    }
    .back-content {
        margin: 13px;
        height: 550px;
    }
    .whanau-content {
        float: left;
        padding: 10px;
        width: 100%;
        height: 550px;
    }
    .image-box {
        height: 400px;
        padding: 0;
    }
    .whanau-image {
        height: 100px;
        width: 90px;
        background-position-x: 0px;
    }
    .whanau-text {
        padding: 0;
        height: 100px;
    }
    .addBackContent {
        height: 100%;
    }
}

@media screen and (max-width: 1089px) {
    .button-box-medium {
        width: 70%;
    }
}

@media screen and (max-width: 629px) {
    .button-box-medium {
        width: 100%;
    }
    .mess-btn1, .mess-btn2, .mess-btn3 {
        width: 30%;
        font-size: 11px;
        white-space: normal;
        word-wrap: break-word;
        padding: 0;
    }
    .mess-btn-box-long {
        margin-bottom: 0px;
        margin-top: -15px;
    }
    .safe-medium-box {
        height: 80%;
    }
    .safe-medium-with-text {
        margin-bottom: 0;
    }
    .not-safe-medium-box {
        height: 80%;
    }
    .create-own-mess-box {
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 375px) {
    .safe-medium-box, .not-safe-medium-box {
        width: 80px;
        padding: 0;
    }
    .toggler {
        height: 30px;
        width: 30px;
    }
    .button {
        width: 250px !important;
        padding: 0 !important;
    }
    .preset-btn {
        font-size: 9px;
    }
    .inputbox {
        min-height: 50px !important; 
    }
}

@media screen and (max-width: 360px) {
    .safe-medium-box, .not-safe-medium-box {
        padding: 2px;
    }
}
@media screen and (max-width: 321px) {
    .input-box {
        width: 75%;
        min-height: 20px !important;
    }
    .back-content {
        width: 92%;
    }
    .inputbox {
        font-size: 20px !important;
    }
    .whanau-image {
        height: 80px;
        width: 70px;
    }
    .whanau-profile-2, .whanau-profile-3  {
        background-position-x: -20px;
    }
    .whanau-text > h4 {
        font-size: 20px !important;
        margin: 0;
    }
    .whanau-text {
        height: auto;
    }
}

@media screen and (min-width: 568px) and (max-width: 823px) {
    .button {
        margin: 0;
        width: 48% !important;
        float: left;
        height: 100px !important;
        font-size: 20px !important;
        padding: 0;
        margin-bottom: 0;
        line-height: 100px;
    }
    #messagebtn {
        float: right;
    }
    .container {
        width: 100%;
        padding: 10px;
    }
    .img1, .img2 {
        height: 50px;
        width: 50px;
    }
    .box, .box1, .box2 {
        margin-top: 0;
        padding: 0;
        padding-left: 10px;
        height: auto;
    }
    .img-text {
        height: auto;
    }
    .text-right {
        margin: 0;
        padding: 0;
        padding-top: 10px;
        font-size: 25px;
    }
    .map {
        height: 260px;
    }
    .profile-pic {
        height: 60px;
        width: 60px;
        background-size: cover;
    }
    .map-text-box > h4 {
        font-size: 20px !important;
    }
    .map-text-box > h2 {
        font-size: 18px !important;
        margin: 5px;
    }
    .box-content {
        padding: 0;
        padding-right: 20px;
        padding-top: 20px;
        height: 300px;
    }
    .map-box {
        margin: 0;
    }
    .preset-btn {
        height: 65px;
        overflow-wrap: normal;
        padding: 0 !important;
        font-size: 11px;
        white-space: normal;
        line-height: 20px;
    }
    .phone-img {
        height: 50px;
        width: 50px;
    }
    .mess-btn-box-long {
        height: auto;
        margin: 0;
    }
    .create-own-mess-box {
        height: 40px;
    }
    .note-img {
        height: 37px;
        width: 37px;
    }
    .message-title {
        margin-bottom: 0;
    }
    .button-box-medium {
        width: 100%;
        display: inline-block;
    }
    .safe-medium-box {
        width: 110px;
        height: 60px;
        float: left;
    }
    .textbox {
        float: left;
        width: 50%;
    }
    .safe-medium-with-text {
        width: 40%;
        margin-bottom: 0;
        float: left;
    }
    .not-safe-medium-box {
        float: left;
        width: 110px;
        height: 60px;
    }
    .not-safe-medium-with-text {
        width: 50%;
        float: left;
    }
    .safe-panic-text {
        line-height: 60px;
    }
    #tick, #cross2 {
        width: 55px;
        height: 55px;
    }
    .message-container {
        height: auto;
    }
    .messages-box {
        width: 50%;
    }
    .message-content {
        height: auto;
        padding: 0;
    }
    .messages {
        height: auto;
    }
    #response-mess-box {
        top: 0;
        margin-top: 250px;
    }
    .response-box {
        height: auto;
    }
    .messages-box {
        height: 500px;
    }
    #response-message {
        height: auto;
    }
    .whanau-content {
        width: 70%;
        height: 885px;
    }
    .image-box {
        width: 30%;
        float: left;
    }
    .whanau-text-box {
        width: 70%;
    }
    .back-content {
        margin: 10px;
        width: 97%;
    }
    .inputbox {
        width: 48% !important;
        min-height: 10px !important;
    }
    .pw-box {
        float: left;
    }
    .img-upload, .ID-box, .ph-box, .pw2-box {
        float: right;
    }
    .name-box, .address-box, .password-box {
        float: left;
    }
    .img-upload {
        height: 40px;
        padding: 10px 20px;

        line-height: 5px !important;
    }
    .addBackContent {
        height: 400px;
    }
    .back-content {
        height: 235px !important;
        padding: 10px;
    }
    .submit-button-login {
        height: 55px;
    }
    .reg-back {
        height: 370px !important;
    }
}

@media screen and (max-height: 320px) {
    .button {
        height: 75px !important;
        line-height: 75px;
    }
    .safe-medium-box, .not-safe-medium-box {
        width: 100px;
    }
    .message-container {
        height: 310px;
    }
}

@media screen and (min-height: 359px) and (max-height: 360px) {
    .message-container {
        height: 310px;
    }
}

@media screen and (min-height: 320px) and (max-height: 375px) {
    .status {
        margin-bottom: 0;
    }
    .box-content {
        padding: 10px;
    }
    .map {
      height: 230px;
    }
    .preset-btn {
        height: 60px;
        padding: 0;
        text-align: center;
        line-height: 20px;
        padding: 2px;
    }
    .safe-medium-with-text {
        width: 50%;
    }
    .mess-btn1, .mess-btn2, .mess-btn3 {
        margin-bottom: 4px;
    }
    .create-own-mess-box {
        margin-bottom: 5px;
    }
    .back-content {
        height: 300px !important;
    }
    .reg-back {
        height: 360px !important;
    }
}

/* -------------------------------- */
/* ------------ Tablet ------------ */
/* -------------------------------- */

@media screen and (min-height: 1024px) and (max-height: 1366px) {
    .container {
        width: 90%;
        padding: 30px;
    }
    .button {
        display: block;
        width: 100% !important;
        height: 150px !important;
        font-size: 30px  !important;
        line-height: 150px;
        margin: auto;
    }
    .box1, .box2 {
        height: 100px;
        margin: 0;
        margin-bottom: 30px;
        margin-left: 40px !important;
    }
    .box2 {
        padding-left: 50px;
    }
    .img1 {
        height: 100px;
        width: 100px !important;
        background-size: cover;
    }
    .img2 {
        height: 100px !important;
        width: 100px !important;
    }
    .text-right {
        line-height: 70px;
        padding-left: 20px;
        font-size: 40px;
    }
    .preset-btn {
        height: 100px;
    }
    .map {
        width: 50%;
    }
    .box-content {
        width: 50%;
    }
    .map-text-box > h2 {
        font-size: 30px !important;
    } 
    .map-text-box > h4 {
        font-size: 30px !important;
    }
    .map-box {
        margin-top: 196px;
        width: 100%;
    }
    .create-own-mess-box {
        height: 70px;
    }
    .note-img {
        height: 70px;
        width: 70px;
    }
    .button-box-medium {
        height: 200px;
        width: 90%;
        float: left;
    }
    .safe-medium-with-text {
        float: left;
        width: 100%;
    }
    .not-safe-medium-box-with-text {
        width: 100%;
        float: left;
    }
    .safe-medium-box, .not-safe-medium-box {
        height: 100px;
        width: 120px;
    }
    .safe-panic-text {
        line-height: 100px;
        font-size: 40px;
    }
    .image-box {
        height: 100% !important;
    }
    .whanau-image, .whanau-text {
        margin-top: 50px !important;
    }
    .whanau-text > h4 {
        margin-bottom: 0;
    }
    .inputbox {
        width: 100% !important;
    }
    .back-content {
        margin: auto;
        margin-top: 20px;
    }
    .img-upload {
        min-height: 60px !important;
    }
}

@media screen and (min-height: 1365px) and (max-height: 1367px) {
    .img1, .img2 {
        height: 150px;
        width: 150px !important;
    }
    .button {
        height: 200px !important;
        margin-bottom: 30px !important;
        line-height: 200px;
    }
    .mess-btn1, .mess-btn2, .mess-btn3  {
       height: 100px;
    }
    .box {
        height: 400px;
        margin-top: 0;
    }
    .img2 {
        float: left;
        height: 150px !important;
        width: 150px !important;
    }
    .map-box {
        margin-top: 150px;
    }
    .text-right {
        padding: 0;
    }
    .box1 {
        margin-bottom: 100px;
        width: 100%;
    }
    .text-right {
        width: 550px;
        margin: 0;
        line-height: 150px;
    }
    .box2 {
        float: left;
        padding: 25px;
    }
    .safe-medium-with-text {
        width: 100%;
    }
    .not-safe-medium-box-with-text {
        width: 100%;
    }
    .safe-medium-box, .not-safe-medium-box {
        float: left;
    }
    .safe-panic-text {
        float: left;
        margin-left: -130px;
    }
    .response-box {
        margin-top: 300px;
    }
    .whanau-content {
        width: 75% !important;
        margin-left: 200px;
    }
    .whanau-text-box {
        width: 75%;
        float: right;
    }
    .image-box {
        width: 25%;
    }
}

/* -------------------------------- */
/* ------- Tablet Landscape ------- */
/* -------------------------------- */

@media screen and (min-width: 1365px) and (max-width: 1366px) and (max-height: 1024px) and (min-height: 1023px) {
    .map-box {
        margin-top: 150px !important;
    }
    .preset-btn {
        text-overflow: ellipsis !important;
        overflow-wrap: normal !important;
        padding-left: 6px;
        text-align: center !important;
    }
    #p1, #p2 {
        padding-left: 30px !important;
    }
    .text-right {
        line-height: 0px !important;
        width: auto !important;
        padding-left: 0 !important;
    }
    .box1 {
        width: 500px !important;
    }
    .box2 {
        width: 500px !important;
    }
}

@media screen and (min-width: 1023px) and (max-width: 1024px) and (max-height: 768px) and (min-height: 767px) {
    .map {
        width: 45%;
        float: left;
    }
    .map-text-box {
        width: 100%;
    }
    .box-content {
        width: 50%;
    }
    .map-box {
        margin-top: 210px !important;
    }
    .whanau-content {
        width: 60%;
        margin-left: 250px !important;
    }
}
